.submit-button {
    padding-left: 40px;
    padding-right: 40px;
}

.event-button {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 5px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.button {
    background: #001EFF;
}

.fab__icon {
    background: #001EFF;
}

.fab--material {
    color: #FFFFFF
}